.body1{
    background-image: url(imagens/Sem\ título.png);   
    background-repeat: no-repeat;
    background-size: cover  ;
}



nav{
    background-color: rgb(152, 152, 152);
    height: 70px;
    align-items: center;
    display: flex;
    margin: -8px;
    
}

nav a{
    text-decoration: none;
    color: aliceblue;
    padding-left: 190px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;    
    left: 400px;
    position: relative;
}

.logo{
    margin-left: -1300px;
    position: relative;
}

main{
    top: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.text1{
    background-color: aliceblue;
    height: 400px;
    width: 600px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    
    
}

.text1 img{
    top: 130px;
    position: relative;
    right: 115px;
    height: 250px;
    border-radius: 10px;
}

.text1 h1{
    position: relative;
    left: 190px;
    height: 200px;
}

a:hover{
    color: black;
}

form{
    background-color: white;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

form label{
    position: relative;
    right: 168px;
}

form input{
    width: 370px;
    position: relative;
    left: 10px;
}

.senha{
    padding-top: 10px;
}

form button{
    position: relative;
    top: 10px;
    width: 120px;
    left: 267px;
}

.login{
    display: flex;
    text-align: center;
    position: relative;
    top: 150px;
}

.body2{
    display: flex;
    justify-content: center;
    background-color: darkcyan;
}
